<div class="body-footer">
    <footer>
        <div class="part footer-service">
            <h3>Nos Services</h3>
            <ul>
                <li><a routerLink="/formations">Formations</a></li>
                <li><a href="">Conseils</a></li>
                <li><a href="">E-learning</a></li>
                <li><a href="">Start-up</a></li>
            </ul>
        </div>

        <div class="part footer-adresse">
            <h3>Contact</h3>
            <p>Tél : 06.06.06.59.59</p>
            <p>Email : it_training@ittraining.fr</p>
            <p>Adresse : 6 rue de la Connaissance 59000 Lille</p>
        </div>

        <div class="part footer-horaires">
            <h3>Nos Horaires</h3>
            <ul>
                <li>Lun 10h-19h</li>
                <li>Mar 10h-19h</li>
                <li>Mer 10h-19h</li>
                <li>Jeu 10h-19h</li>
                <li>Ven 10h-19h</li>
            </ul>
        </div>

        <div class="part footer-reseaux">
            <h3>Nos Reseaux</h3>
            <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">LinkedIn</a></li>
                <li><a href="">Viadeo</a></li>
            </ul>
        </div>

    </footer>
</div>