.body-footer {
    width: 100%;
    background-color: #696D72;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    padding: 10px 50px;
}

.body-footer .part {
    width: 25%;
    padding-left: 40px;
}

.body-footer .part h3 {
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
}

.body-footer .part ul li {
    list-style: none;
    font-size: 15px;
}

.body-footer .part ul li a{
    text-decoration: none;
    color: #5DA0A2;
    font-size: 15px;
}

.body-footer .part ul li a:hover{
    color: bisque;
}

.body-footer .footer-service,
.body-footer .footer-adresse,
.body-footer .footer-horaires {
    border-right: 1px solid #363C40;
}