.body-footer {
    width: 100%;
    background-color: #434544;
    position: relative;
    bottom: 0;
    justify-content: space-between;
    padding: 10px 0px;
}

.body-footer footer {
    width: 70%;
    display: flex;
    margin: auto;
}

.body-footer .part {
    width: 25%;
}

.body-footer .part h3 {
    font-size: 18px;
    color: #fff;
    text-decoration: underline;
}

.body-footer .part ul li,.part p {
    list-style: none;
    font-size: 12px;
    color: #fff;
    
}

.body-footer .part ul li a{
    text-decoration: none;
    color: #008E97;
    font-size: 15px;
}

.body-footer .part ul li a:hover{
    color: white;
}
