<div class="acceuil">
    <div class="home-image">
     
    </div>

    <h2>UN CADRE DE FORMATION CONVIVIAL ET PERFORMANT</h2>

    <div class="home-presentation">
        <div class="home-card">
            <h3>LES FORMATIONS</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Donec condimentum, nisl sed accumsan pellentesque, 
                turpis tellus ornare nisi, sed aliquet quam sapien eu ante. 
                Cras iaculis nec felis ac blandit. Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. Duis ultrices purus ut ullamcorper pellentesque.</div>

        </div>
        <div class="home-card">
            <h3>NOS ENGAEMENTS</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Donec condimentum, nisl sed accumsan pellentesque, 
                turpis tellus ornare nisi, sed aliquet quam sapien eu ante. 
                Cras iaculis nec felis ac blandit. Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. Duis ultrices purus ut ullamcorper pellentesque.</div>

        </div>
        <div class="home-card">
            <h3>L'AMBIANCE</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Donec condimentum, nisl sed accumsan pellentesque, 
                turpis tellus ornare nisi, sed aliquet quam sapien eu ante. 
                Cras iaculis nec felis ac blandit. Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. Duis ultrices purus ut ullamcorper pellentesque.</div>

        </div>
    </div>    

    <div class="home-contact">
        <h2>VOUS AVEZ UN PROJET DE FORMATION ?</h2>
        <div class="block-contact">
           <div class="text-contact">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec condimentum, nisl sed accumsan pellentesque, 
            turpis tellus ornare nisi, sed aliquet quam sapien eu ante.
           </div> 

            <div class="button-contact">
                <a routerLink="/contact"><button>Nous contacter</button> </a>
            </div>
            
        </div>
        
    </div>
</div>