<div class="ajout-formation-form">
  <form [formGroup]="creationFormationForm" (ngSubmit)="onCreate()">
    <h1>Ajouter une nouvelle formation</h1>

      <mat-form-field appearance="legacy">
        <mat-label>Titre de la formation</mat-label>
        <input matInput placeholder="Placeholder" formControlName="titre">
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Placeholder" formControlName="description">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Enregistrer</button>
  </form>
</div>

