<div class="ajout-formation-form">
  <form [formGroup]="formationForm" (ngSubmit)="onSubmit()">
    <h1>Nouvelle formation</h1>

      <mat-form-field appearance="legacy">
        <mat-label>Titre de la formation</mat-label>
        <input matInput placeholder="Placeholder" formControlName="titre">
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Prix</mat-label>
        <input matInput placeholder="Placeholder" formControlName="prix">
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Nombre de participants</mat-label>
        <input matInput placeholder="Placeholder" formControlName="nombreParticipants">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Enregistrer</button>
  </form>
</div>

