    .formation-page {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .formation-page {
        min-height: 603px;
    }
    
    .detailFormation {
        width: 80%;
    }