.dashboard-home {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#admin-profile {
    width: 80%;
    margin: auto;
}

#infos {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
}

.card-admin div,
.card-formations div,
.card-sessions div{
    margin-right: 10px;
}

.card-admin,
.card-formations,
.card-sessions{
    width: 20%;
    margin: 0 20px 20px 20px;
    border-radius: 5px;
    display: flex;
}

.nombre{
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: 0;
}

.card-admin {
    background-color: #0094C2;
}

.card-formations {
    background-color: #C15674;
}

.card-sessions {
    background-color: #ABDCBE;
}