.mat-card {
  background-color: #008E97;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 100px;
  }
  
  .example-full-width {
    width: 100%;
  }
  .formulaire-apprenant{
    margin: 0 auto 0 auto;
  }
  button{
      background-color: #5DA0A2;
  }
  .inscription{
    color: cornsilk;
    text-align: center;
    margin-left: 120px;
  }

  .example-form h2 {
    text-align: center;
  }