.administrateurs-liste {
    width: 35%;
    margin: auto;
}

.administrateurs-liste h1 {
    text-align: center;
}

.administrateurs-liste table {
    width: 100%;
}

.administrateurs-liste table th {
    font-size: 20px;
    background-color: #947689;
    padding: 10px;
}

.administrateurs-liste table tr td {
    padding: 10px;
}

.administrateurs-liste table td button {
    background-color: #947689;
    display: block;
    margin: auto;
}