.administrateurs-liste {
    width: 60%;
    margin: auto;
}

.administrateurs-liste h1 {
    text-align: center;
    margin-top: 20px;
}

.administrateurs-liste table {
    width: 100%;
    margin-top: 40px;
}

.administrateurs-liste table th {
    font-size: 20px;
    background-color:  #5DA0A2;
    padding: 10px;
}

.administrateurs-liste table tr td {
    padding: 10px;
}

.administrateurs-liste table td button {
    background-color:  #5DA0A2;
    display: block;
    margin: auto;
}