<!-- <ol>
    <li>
      <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput >
      </mat-form-field>
    </li>
    
    
  </ol> -->
  <div class="session-card">
    <div class="session-info">
        <p>Lieu : </p>
        <p>Date : </p>
        <p>Tarif : </p>
    </div>
    <div class="session-links">
        <a class="lien-test" href=#>Test de connaissance</a>
       
    </div>
    <li>
        <button mat-raised-button class="lien-inscription" (click)="openDialog()">Inscription</button>
      </li>
</div>