.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.header .logo {
    margin: 10px;
}

.header a img{
    width: 160px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.menu .nav-item {
    margin-right: 10px;
}

.menu .nav-item a {
    text-decoration: none;
    font-size: 18px;
    color: grey;
    margin-left: 13px;
    font-weight: 800;
}

.menu .nav-item a:hover,
.menu .nav-item a:focus {
    color:#5DA0A2;
}