<div class="header">
    <div class="logo">
        <a href=""> <img src="../../../assets/formation-images/logo.PNG"/> </a>
    </div>  
    <div class="menu">
        <div class="nav-item"><a href="">Accueil</a></div>
        <div class="nav-item"><a [routerLink]="'/formations'">Nos Formations</a></div>
        <div class="nav-item"><a href="" >Nos Centres</a></div>
        <div class="nav-item"><a [routerLink]="'/login'" >Connexion</a></div>   
    </div>
</div>
<!-- <app-barre-recherche-formation></app-barre-recherche-formation> -->
