button{
  background-color: #5DA0A2;
    width: 100%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .formulaire-apprenant{
    margin: 0 auto 0 auto;
  }
  .card-container{
    background-color: #008E97
  }
  .card{
    background-color: #008E97
  }