
<div mat-dialog-content>
  <p>Veuillez remplir le formulaire pour vous inscrire</p>
  <!-- <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput >
  </mat-form-field> -->
  <div fxLayoutAlign="center center" fxFlexFill>
    <form class="example-form"  >
        <mat-card>
             <mat-form-field class="example-full-width">
                <mat-label>Nom:</mat-label>
                <input matInput placeholder="Nom"  formControlName="nom">
              </mat-form-field>
              
              <mat-form-field class="example-full-width">
                <mat-label>Prenom:</mat-label>
                <input matInput placeholder="Prenom" formControlName="prenom">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Adresse:</mat-label>
                <input matInput formControlName="adresse">
              </mat-form-field>
        
              <mat-form-field class="example-full-width">
                <mat-label>Numero de tel:</mat-label>
                <input matInput placeholder="Placeholder" formControlName="tel">
              </mat-form-field>
        
              <mat-form-field class="example-full-width">
                <mat-label>Adresse mail::</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
        
              <mat-form-field class="example-full-width">
                <mat-label>Mot de passe:</mat-label>
                <input matInput formControlName="password" type="password">
              </mat-form-field>
          
              <!-- <button mat-raised-button class="example-full-width" type="submit">Inscription</button> -->

        </mat-card>
        
      </form>
   </div>
  
  

</div>
<div mat-dialog-actions>
  
  <button mat-raised-button class="example-full-width" type="submit" (click)="onNoClick()">Inscription</button>
  
</div>