<div id="sidenav">
  <div class="group-navigation">
    <span class="material-icons"> source </span>
    <button mat-button [matMenuTriggerFor]="themes" class="menu-item"> Thèmes</button>
    <mat-menu #themes="matMenu">
      <button mat-menu-item>Liste des thèmes</button>
      <button mat-menu-item>Ajouter Thème</button>
      <button mat-menu-item>Modifier Thème</button>
      <button mat-menu-item>Supprimer Thème</button>
    </mat-menu>
  </div>

  <div class="group-navigation">
    <span class="material-icons"> school </span>
    <button mat-button [matMenuTriggerFor]="formations" class="menu-item"> Formations</button>
    <mat-menu #formations="matMenu">
      <button mat-menu-item [routerLink]="'formations'">Liste des formations</button>
      <button mat-menu-item [routerLink]="'ajoutFormation'">Ajouter Formation</button>
      <button mat-menu-item>Modifier Formation</button>
      <button mat-menu-item>Supprimer Formation</button>
    </mat-menu>
  </div>

  <div class="group-navigation">
    <span class="material-icons"> insert_invitation </span>
    <button mat-button [matMenuTriggerFor]="sessions" class="menu-item">Sessions</button>
    <mat-menu #sessions="matMenu">
      <button mat-menu-item [routerLink]="'listeSessions'">Liste des sessions</button>
      <button mat-menu-item [routerLink]="'ajoutSession'">Ajouter Session</button>
      <button mat-menu-item>Modifier Session</button>
      <button mat-menu-item>Supprimer Session</button>
    </mat-menu>
  </div>

  <div class="group-navigation">
    <span class="material-icons"> people </span> 
    <button mat-button [matMenuTriggerFor]="administrateurs" class="menu-item">Administrateurs</button>
    <mat-menu #administrateurs="matMenu">
      <button mat-menu-item [routerLink]="'administrateurs'">Liste des administrateurs</button>
      <button mat-menu-item [routerLink]="'admin-creation'">Ajouter Administrateur</button>
      <button mat-menu-item>Modifier Administrateur</button>
      <button mat-menu-item>Supprimer Administrateur</button>
    </mat-menu>
  </div>
</div>
