<div class="ajout-formation-form">
    <form [formGroup]="administrateurForm" (ngSubmit)="onCreate()">
      <h1>Création compte administrateur</h1>
  
        <mat-form-field appearance="legacy">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Placeholder" formControlName="nom">
        </mat-form-field>
  
        <mat-form-field appearance="legacy">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Placeholder" formControlName="prenom">
        </mat-form-field>
  
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Placeholder" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Téléphone</mat-label>
            <input matInput placeholder="Placeholder" formControlName="telephone">
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Mpt de passe</mat-label>
            <input matInput placeholder="Placeholder" formControlName="password">
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Enregistrer</button>
    </form>
  </div>
