.session-list-dates {
    margin: 20px;
    background-color: #EAEAEA;
    width: 250px;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font: inherit;
    height: fit-content;
}

.session-list-dates h2 {
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    background: #dbdcdd;
    margin: 0 0 10px;
    color: #0088ba;
    padding-left: 10px;
}